<!--Copy and paste the code below into your theme.liquid file between the <body> and </body> tags. The buttons will appear wherever you place your code.(https://ui-elements-generator.myshopify.com/pages/methods-of-payment)-->

<style>
  .methods-of-payment img { padding: 0.2em; }
  .lt-ie9 .methods-of-payment, .ie8 .methods-of-payment, .oldie .methods-of-payment { display: none; }
</style>
<span class="methods-of-payment">
  <img src="{{ 'amazon_payments' | payment_type_img_url }}" height="35" alt="amazon payments" />
  <img src="{{ 'apple_pay' | payment_type_img_url }}" height="35" alt="apple pay" />
  <img src="{{ 'american_express' | payment_type_img_url }}" height="35" alt="american express" />
  <img src="{{ 'bitcoin' | payment_type_img_url }}" height="35" alt="bitcoin" />
  <img src="{{ 'dankort' | payment_type_img_url }}" height="35" alt="dankort" />
  <img src="{{ 'diners_club' | payment_type_img_url }}" height="35" alt="diners club" />
  <img src="{{ 'discover' | payment_type_img_url }}" height="35" alt="discover" />
  <img src="{{ 'dogecoin' | payment_type_img_url }}" height="35" alt="dogecoin" />
  <img src="{{ 'dwolla' | payment_type_img_url }}" height="35" alt="dwolla" />
  <img src="{{ 'forbrugsforeningen' | payment_type_img_url }}" height="35" alt="forbrugsforeningen" />
  <img src="{{ 'jcb' | payment_type_img_url }}" height="35" alt="jcb" />
  <img src="{{ 'litecoin' | payment_type_img_url }}" height="35" alt="litecoin" />
  <img src="{{ 'maestro' | payment_type_img_url }}" height="35" alt="maestro" />
  <img src="{{ 'master' | payment_type_img_url }}" height="35" alt="master" />
  <img src="{{ 'paypal' | payment_type_img_url }}" height="35" alt="paypal" />
  <img src="{{ 'visa' | payment_type_img_url }}" height="35" alt="visa" />
</span>
